- name: create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: create roboshop system user
  ansible.builtin.user:
    name: roboshop
    shell: /sbin/nologin
    system: true
    home: /app

- name: Download artifact from nexus
  ansible.builtin.get_url:
  url: "{{NEXUS_URL}}/{{component}}/{{ group_id }}/{{component}}/{{ app_version }}/{{ component }}-{{ app_version }}.zip"
  dest: /tmp
  
- name: "extract {{component}} code"
  ansible.builtin.unarchive:
    src: "/tmp/{{component}}-{{ app_version}}.zip"
    dest: /app
    remote_src: yes